<div class="projects">

    <article class="post">
        <div class="post-content">
            <h2 class="title">Upload a photo for the contest
                <small> (max 5mb)</small>
            </h2>
            or
            <a routerLink="/login" class="text-primary">Login Here</a> to view submissions

            <!-- The Content -->
            <div class="the-content">

                <mat-progress-bar mode="determinate" color="accent" [value]="progressValue"></mat-progress-bar>
                <form id="singleUploadForm" name="singleUploadForm">
                    <div class="contact-item form-file">
                        <input type='file' (change)="onSelectFile($event)">
                    </div>
                    <div class="contact-item field-full form-message">
                        <textarea placeholder="A brief about your photo" name="story"></textarea>
                    </div>
                    <div class="contact-item form-submit">
                        <input name="button" type="button" id="submit" class="submit" value="Upload" (click)="uploadFile()"> or
                        <a routerLink="/login" class="text-primary">Login Here</a>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>


<!-- 
<div class="upload-container">
    <div class="upload-header">
        <h2>Spring Boot File Upload / Download Rest API Example</h2>
    </div>
    <div class="upload-content">
        <div class="single-upload">
            <h3>Upload Single File</h3>
            <mat-progress-bar mode="determinate" color="accent" [value]="progressValue"></mat-progress-bar>
            <form id="singleUploadForm" name="singleUploadForm">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Upload Single File</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <img [src]="url" height="200">
                        <br/>
                        <input type='file' (change)="onSelectFile($event)">
                        <button type="button" class="primary submit-btn" (click)="uploadFile()">Upload</button>
                    </mat-card-content>
                </mat-card>
            </form>
            <a href="https://api.whatsapp.com/send?phone=9811549494&text=hello world!">Share on whatsapp!</a>
            <div class="upload-response">
                <div id="singleFileUploadError"></div>
                <div id="singleFileUploadSuccess"></div>
            </div>
        </div>
    </div>
</div> -->