<div class="projects">
    <div class="project-item">
      <a href="single-project.html">
        <img src="../../../assets/images/posts/banner_1.png" alt="">
      </a>
      <h2 class="title">
        <a href="#">View Details</a>
      </h2>
    </div>

    <div class="project-item">
      <a href="single-project.html">
        <img src="../../../assets/images/posts/banner_2.jpg" alt="">
      </a>
      <h2 class="title">
        <a href="#">Interface</a>
      </h2>
    </div>

    <div class="project-item">
      <a href="single-project.html">
        <img src="../../../assets/images/posts/banner_3.jpg" alt="">
      </a>
      <h2 class="title">
        <a href="#">Transportation</a>
      </h2>
    </div>

    <div class="project-item">
      <a href="single-project.html">
        <img src="../../../assets/images/posts/banner_4.jpg" alt="">
      </a>
      <h2 class="title">
        <a href="#">Perspective</a>
      </h2>
    </div>

    <div class="project-item">
      <a href="single-project.html">
        <img src="../../../assets/images/posts/banner_5.jpg" alt="">
      </a>
      <h2 class="title">
        <a href="#">Mixilicious</a>
      </h2>
    </div>

    <div class="project-item">
      <a href="single-project.html">
        <img src="../../../assets/images/posts/banner_6.jpg" alt="">
      </a>
      <h2 class="title">
        <a href="#">Creative</a>
      </h2>projects
    </div>

    <div class="project-item">
      <a href="single-project.html">
        <img src="../../../assets/images/posts/banner_7.jpg" alt="">
      </a>
      <h2 class="title">
        <a href="#">Stapler</a>
      </h2>
    </div>		
  </div>					