<div id="main-content">
    <div class="projects">

        <article class="post">
            <div class="post-content">
                <h2 class="title">Payment Successful.</h2>
                <div class="the-content">
                    <p class="mat-h3">Thank you for participating into the contest. You can upload 2 more photos for the contest</p>
                    <p>&nbsp;&nbsp;</p>
                    <a class="mat-h3" routerLink="/my-submission">Go To Submission</a>
                </div>
            </div>
        </article>
    </div>
</div>