<article class="post">
    <div class="post-media">
      <a href="single.html">
        <img src="../../../assets/images/projects/about.jpg" alt="About">
      </a>
    </div>
    <div class="post-content">
      <h4 class="title">
        John Doe 2
        <small>
          <a href="#" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </small>
      </h4>

      <!-- The Content -->
      <div class="the-content">
        <p>There’s nothing quite as frightening as the unknown. These words of former US Secretary of Defense Donald Rumsfeld should be truly terrifying (although the general consensus at the time was that they sounded like nonsense).</p>
      </div>
      <!-- End The Content -->
    </div>
  </article>