<div id="main-content">

					<div class="projects">
						<div class="project">
							<div class="detail-content">
								<h2 class="title">
									My Submissions
								</h2>
								<div class="the-content">
									<p>Welcome [Fullname]</p>
									<p>Here are your entries. You have made 1 submission(s)</p>
									<p>10 days left for final submissions</p>
								</div>
								<div class="project-attributes">
									<table>
										<tbody>
										
										<tr>
											<td class="name">Spread some love</td>
											<td class="value">
												<div class="socials">
													<div class="kd-sharing-post-social">
														<a href="#"><i class="fa fa-facebook"></i></a>
														<a href="#"><i class="fa fa-instagram"></i></a>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td><a href="new_entry.html" class="btn btn-warning">Upload Photos</a></td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td class="text-right">Brought to you by <a href="https://coswafe.com">Coswafe</a></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="images-project">
								<a href="../../../assets/images/posts/banner_2.jpg" class="popup">
									<img src="../../../assets/images/posts/banner_2.jpg" alt="">
								</a>
								<div class="post-content">
									<p>Story pertaining to this specific picture written by the author to describe the scene</p>
								</div>
								
							</div>


							
						</div>
					</div>
				</div>
	